Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
config/test-driver
config/ylwrap
configure
lib/.deps/
lib/.libs/
lib/Makefile
lib/Makefile.in
lib/*.o
lib/gram.c
lib/gram.h
lib/gram.output
lib/libsyck.a
lib/libsyck.la
lib/*.lo
libtool
m4/
stamp-h1
tests/.deps/
tests/.libs/
tests/*.o
tests/Makefile
tests/Makefile.in
tests/test-basic
tests/test-emit
tests/test-parse
tests/test-yts
tests/test-*.log
tests/test-*.trs
tests/test-*.dSYM
